<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Proiect_ABD.Properties.Settings.MonitorizareEchipamenteConnectionString"
            connectionString="Data Source=HEKARMEN\SQLEXPRESS;Initial Catalog=MonitorizareEchipamente;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="Proiect_ABD.Properties.Settings.Proiect_ABDConnectionString"
            connectionString="Data Source=HEKARMEN\SQLEXPRESS;Initial Catalog=Proiect_ABD;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="Proiect_ABD.Properties.Settings.Proiect_ABDConnectionString1"
            connectionString="Data Source=HEKARMEN\SQLEXPRESS;Initial Catalog=Proiect_ABD;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="Proiect_ABD.Properties.Settings.Proiect_ABDConnectionString2"
            connectionString="Data Source=.;Initial Catalog=Proiect_ABD;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>